*{
    margin:0;
    padding:0;
}
body {
    font-family: 'Roboto Mono',monospace;
    min-height: 200px;
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
.container {
    text-align: center;
    height: 100vh;
    color: #ffffff;
    background: linear-gradient(0, #120c56, #000000);
}

.container span {
    font-size: 50px;
}

.texto {
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
}

.texto span {
    font-size: 120px;
}

